asgiref==3.4.1
Django==3.2.7
djangorestframework==3.12.4
djangorestframework-simplejwt==4.3.0
lxml==4.6.3
Pillow==8.3.2
PyJWT==1.7.1
python-pptx==0.6.21
pytz==2021.1
sqlparse==0.4.2
XlsxWriter==3.0.1
numpy
cython
scikit-image
scikit-build
torch==1.5
torchvision==0.6
scipy
imutils
tqdm
lmdb 
natsort
pandas
opencv-contrib-python
opencv-python
pymysql
mysqlclient